.table-container {
    max-height: 500px; /* Adjust this value as needed */
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;

}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f8f9fa;
}
tr:nth-child(even) {
    background-color: #f8f9fa;
}
tr:hover {
    background-color: #e9ecef;
}