main {
    margin-top: 5rem;
    width: 100%;
    padding: 5rem;
}

#content-toolbar {
    margin-top: 0;
    justify-content: space-between;
}
#table-add-button {
    line-height: 0;
    width: 10rem;
    cursor: pointer;
    margin-right: 0;
}
.search-bar {
    display: flex;
    margin-bottom: 20px;
    line-height: 0;
}
.search-bar input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
}
.search-bar button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 3rem;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pagination select {
    margin: 0 1rem 0 1rem;
    width: auto;
}
.pagination button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.table-action {
    visibility: hidden;
    position: absolute;
    height: 43px;
    right: 10rem;
    padding: 0;
    background-color: #e9ecef;
}

tr:hover .table-action {
    visibility: hidden;
}
